<div class="move box box--type_2">
    <div class="move__title-block">
        <h2>Движение средств <small>Детализация</small></h2>
    </div>

    <div class="select-wrapper">
        <select id="sobitiya" class="js-select">
            <option value="1">Все события</option>
            <option value="2">Начисление процента</option>
            <option value="3">Перевод на депозит</option>
        </select>
    </div>

    <div class="move__list">
        <table>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
            <tr>
                <td class="color-green">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Начисление процента</td>
            </tr>
            <tr>
                <td class="color-red">888 888.88 ₽</td>
                <td>24 сен 2025</td>
                <td>Перевод на депозит</td>
            </tr>
        </table>
    </div>
</div>