<div class="move box box--type_2">
    <div class="move__title-block">
        <h2>Движение средств <small>Детализация</small></h2>
    </div>

    <div class="dates-period">
        <label class="input-group">
            <input class="js-start input-group__input" type="text" placeholder="дд.мм.гг">
        </label>

        <label class="input-group">
            <input class="js-end input-group__input" type="text" placeholder="дд.мм.гг">
        </label>
    </div>

    <div class="select-wrapper">
        <select id="sobitiya" class="js-select">
            <option value="1">Все события</option>
            <option value="2">Начисление процента</option>
            <option value="3">Перевод на депозит</option>
        </select>
    </div>

    <div class="move__list">
        <table>
            <tr>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Событие</th>
                <th>Этап</th>
                <th>Номер</th>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-green" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Начисление процента</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
            <tr>
                <td class="color-red" data-title="Сумма">888 888.88 ₽</td>
                <td data-title="Дата">24.09.2025</td>
                <td data-title="Событие">Перевод на депозит</td>
                <td data-title="Этап">3</td>
                <td data-title="Номер">15</td>
            </tr>
        </table>
    </div>
</div>