<div class="cluster">
    <div class="cluster-item cluster-item--type_1">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        I (100%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#double_check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        30
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>3%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_1">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        II (100%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#double_check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        32
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>100 000 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>3.2%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <button class="cluster-item__cell" type="button">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>

                        <div class="cluster-item__cell-summ">65 000 ₽</div>
                    </button>

                    <button class="cluster-item__cell" type="button">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>

                        <div class="cluster-item__cell-summ">13 000 ₽</div>
                    </button>

                    <button class="cluster-item__cell" type="button">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>

                        <div class="cluster-item__cell-summ">29 000 ₽</div>
                    </button>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_2">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        III (65%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        5
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>40 000 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0.05%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <button class="cluster-item__cell" type="button">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>

                        <div class="cluster-item__cell-summ">35 000 ₽</div>
                    </button>

                    <button class="cluster-item__cell" type="button">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>

                        <div class="cluster-item__cell-summ">65 000 ₽</div>
                    </button>

                    <button class="cluster-item__cell" type="button">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>

                        <div class="cluster-item__cell-summ">13 000 ₽</div>
                    </button>

                    <button class="cluster-item__cell" type="button">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>

                        <div class="cluster-item__cell-summ">29 000 ₽</div>
                    </button>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            1000
                        </div>
                    </div>

                    <button class="cluster-item__cell cluster-item__cell--type_1" type="button">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            564
                        </div>

                        <div class="cluster-item__cell-summ">5 000 ₽</div>
                    </button>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_2">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        IV (1%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        2
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0.02%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell cluster-item__cell--type_1">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            12
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            408
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_2">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        V (0%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        0
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_2">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        VI (0%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        0
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_2">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        VII (0%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        0
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_2">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        VIII (0%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        0
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_2">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        IX (0%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#check_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        0
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cluster-item cluster-item--type_3">
        <div class="cluster-item__title-block">
            <div>
                <div class="cluster-item__title">
                    <span class="status">
                        X (0%)
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#lock_icon" />
                        </svg>
                    </span>
                    <span class="users">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#users_icon" />
                        </svg>
                        0
                    </span>
                </div>
                <div class="cluster-item__summ">Сумма <span>0 ₽</span></div>
                <div class="cluster-item__summ">Доходность <span>0%</span></div>
            </div>

            <button class="js-cluster-item-toggler cluster-item__toggler" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_icon" />
                </svg>
            </button>
        </div>
        <div class="cluster-item__dropdown">
            <div class="cluster-item__cells">
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">1</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">2</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">3</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">4</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">5</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
                <div class="cluster-item__column">
                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">6</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">7</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">8</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">9</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>

                    <div class="cluster-item__cell">
                        <div class="cluster-item__cell-num">10</div>

                        <div class="cluster-item__cell-deps">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#box_icon" />
                            </svg>
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>