<div class="cluster-info box box--type_2">
    <div class="box__title-block">
        <h2>Кластер №1 <small class="color-purple">Частный</small></h2>
    </div>

    <p class="cluster-info__admin-title">Координатор / <span>Субадминистратор</span></p>

    <div class="cluster-info__admin">
        <div class="cluster-info__admin-avatar">
            <img src="images/content/user.jpg" srcset="images/content/user@2x.jpg 2x" alt="Имя">
        </div>

        <div class="cluster-info__admin-info">
            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#user_icon" />
                </svg>
                <span>Валентина Стрельникова</span>
            </p>

            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#phone_icon" />
                </svg>
                <span>+7 (965) 556-67-78</span>
            </p>

            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#email_icon" />
                </svg>
                <span>vsstrelnikova@othermail.com</span>
            </p>

            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#city_icon" />
                </svg>
                <span>Москва</span>
            </p>

            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#box_icon" />
                </svg>
                <span class="color-green">У вас есть право на второй депозит</span>
            </p>
        </div>
    </div>

    <button class="button button--primary shadow" type="button">Получить доступ</button>
</div>