<div class="deps-info box box--type_1">
    <div class="box__title-block">
        <h2>Депозиты <small class="color-func">Финансы в кластере</small></h2>
    </div>

    <p class="deps-info__summ">1 634 000 <span class="deps-info__summ-currency">₽</span></p>

    <div class="deps-info__stage">
        <div class="deps-info__stage-title">
            <span>Этап I</span>
            <a href="#">Показать депозиты</a>
        </div>

        <div class="deps-info__result">
            <b>104 000 ₽</b> на <span>10</span> депозитах
        </div>
    </div>

    <div class="deps-info__stage">
        <div class="deps-info__stage-title">
            <span>Этап II</span>
            <a href="#">Показать депозиты</a>
        </div>

        <div class="deps-info__result">
            <b>48 000 ₽</b> на <span>6</span> депозитах
        </div>
    </div>

    <div class="deps-info__stage">
        <div class="deps-info__stage-title">
            <span>Этап III</span>
            <a href="#">Показать депозиты</a>
        </div>

        <div class="deps-info__result">
            <b>1 278 000 ₽</b> на <span>15</span> депозитах
        </div>
    </div>
</div>