.light-theme {
    .accordion--type_1 {
        background: var(--panel-2);
        border-color: #fff;

        .accordion__toggler {
            color: var(--func);

            svg {
                fill: var(--func-xlight);
            }
        }

        .accordion__body {
            color: var(--func-light);
        }
    }

    .accordion--type_2 {
        background: var(--panel-3);
        border: 1px solid var(--panel-1);

        .accordion__toggler {
            background: var(--panel-3);
        }

        .accordion__body {
            background: var(--panel-3);
            color: var(--text_color);
        }
    }
}

.accordion {
    --indent: 16px;
    @media(min-width: $fhd) {
        --indent: 24px;
    }

    &.is-open {
        .accordion__toggler {
            svg {
                transform: rotate(180deg);
            }
        }
    }

    &--type_1 {
        border-radius: 16px;
        background: linear-gradient(var(--panel-dark-2), var(--panel-dark-2) 0) padding-box, linear-gradient(45deg, #251668, #2A0F46) border-box;
        border: 1px solid transparent;
        @media(min-width: $fhd) {
            border-radius: 24px;
        }

        .accordion__body {
            color: var(--func-light);
            @media(min-width: $fhd) {
                font-size: 16px;
            }
        }
    }

    &--type_2 {
        border-radius: 12px;
        overflow: hidden;

        .accordion__toggler {
            background-color: #1F1648;
        }

        .accordion__body {
            background-color: #191433;
            color: var(--func-light);
            @media(min-width: $fhd) {
                font-size: 16px;
            }
        }
    }

    &__toggler {
        @include button-reset;
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 16px;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        min-height: 72px;
        padding: var(--indent);
        text-align: left;
        transition: color 0.3s;
        width: 100%;
        @media(min-width: $fhd) {
            font-size: 18px;
        }

        svg {
            fill: var(--func);
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }

    &__body {
        display: none;
        overflow: hidden;
        padding: var(--indent);
    }
}