#__bs_notify__ {
    display: none !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    @include scrollbar;
    background: var(--bg);
    min-height: 100dvh;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    touch-action: manipulation;
}

.page {
    @include scrollbar;
    background-color: var(--bg);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 300;
    line-height: 1.3;
    min-height: 100dvh;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    @media(min-width: $fhd) {
        font-size: 15px;
    }

    &.is-overflow {
        overflow: hidden;
    }

    &__content {
        flex: 1 0 auto;
        padding-top: calc(var(--header_min_height) + var(--page_content_padding_top));
        padding-bottom: var(--page_content_padding_bottom);
    }

    &--gradient {
        background: radial-gradient(41.07% 29.57% at 100% 100%, rgba(72, 8, 120, 0.12) 0%, rgba(123, 0, 255, 0) 100%), radial-gradient(69.97% 92.86% at 0% 0%, #070713 0%, #101026 28%, #12122F 33.85%, #15153E 46.22%, #12122F 53.95%, #070713 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--h_100 {
        .page__content {
            @media(min-width: $lg) {
                height: calc(100dvh - (var(--header_min_height) + var(--page_content_padding_top) + var(--page_content_padding_bottom) + var(--footer_min_height)));
            }

            .container {
                @media(min-width: $lg) {
                    height: 100%;
                }

                .columns {
                    @media(min-width: $lg) {
                        height: 100%;
                    }

                    .cluster-balance {
                        @media(min-width: $lg) {
                            display: flex;
                            flex-direction: column;
                            height: calc(100% - 115px - 24px - 16px);
                        }
                        @media(min-width: $fhd) {
                            height: calc(100% - 144px - 24px - 24px);
                        }
                    }

                    .move {
                        @media(min-width: $lg) {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                        }
                    }

                    .graph {
                        display: flex;
                        flex-grow: 1;
                        min-height: 300px;
                        width: 100%;

                        & > div {
                            height: auto;
                            width: 100%;
                        }
                    }

                    .column {
                        & > .box {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.full-width {
    margin-left: calc(0.02px - var(--container_padding));
    margin-right: calc(0.02px - var(--container_padding));
    @media(min-width: 1920px) {
        margin-left: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

a {
    color: var(--active-2);
    transition: color 0.3s;
    text-decoration: underline;
    @include hover {
        color: var(--active);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.responsive-table {
    overflow-x: auto;

    &:not(:last-child) {
        margin-bottom: 12px;
        @media(min-width: $sm) {
            margin-bottom: 16px;
        }
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.columns {
    @media(min-width: $lg) {
        display: flex;
        gap: 16px;
    }

    &--gap_24 {
        @media(min-width: $fhd) {
            gap: 24px;
        }
    }

    &--gap_32 {
        @media(min-width: $fhd) {
            gap: 32px;
        }
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: var(--vertical_indent);
        @media(min-width: $lg) {
            width: 50%;
        }

        &:first-child {
            @media(max-width: $lg - 0.02px) {
                margin-bottom: 16px;
            }
        }

        .title-block {
            margin-bottom: 0;
        }
    }

    .column-small {
        &:first-child {
            @media(max-width: $lg - 0.02px) {
                margin-bottom: 32px;
            }
        }
        @media(min-width: $lg) {
            width: 23.66071%;
        }
    }

    .column-big {
        @media(min-width: $lg) {
            width: 74.55357%;
        }
        @media(min-width: $fhd) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    .column-40 {
        @media(min-width: $lg) {
            width: 40%;
        }
    }

    .column-60 {
        @media(min-width: $lg) {
            width: 60%;
        }
    }
}

.box {
    --indent: 16px;
    border-radius: 16px;
    padding: var(--indent);
    @media(min-width: $fhd) {
        --indent: 24px;
        border-radius: 24px;
    }

    &--type_1 {
        background: linear-gradient(var(--panel-dark), var(--panel-dark) 0) padding-box, linear-gradient(45deg, #251668, #2A0F46) border-box;
        border: 1px solid transparent;
    }

    &--type_2 {
        background: linear-gradient(var(--panel-dark-2), var(--panel-dark-2) 0) padding-box, linear-gradient(45deg, #251668, #2A0F46) border-box;
        border: 1px solid transparent;
    }

    &__title-block {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 8px 16px;
        padding-top: var(--indent);
        padding-bottom: var(--indent);

        &:first-child {
            margin-top: calc(0.01px - var(--indent));
        }

        h2 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            margin: 0;
            @media(min-width: $fhd) {
                font-size: 24px;
                line-height: 1;
            }

            small {
                font-size: 13px;
                font-weight: 300;
                line-height: 1.53846;
                @media(min-width: $fhd) {
                    font-size: 15px;
                    line-height: 1.2;
                }
            }
        }
    }

    &__title-block-left {
        margin-right: auto;
    }
}

.title-block {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &:not(:last-child) {
        margin-bottom: 16px;
        @media(min-width: $fhd) {
            margin-bottom: 24px;
        }
    }

    &__left {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-right: auto;

        h1 {
            font-size: 24px;
            margin: 0;
            font-weight: 500;
            @media(min-width: $lg) {
                font-size: 32px;
            }
            @media(min-width: $fhd) {
                font-size: 48px;
            }

            .balance-value {
                font-size: 80%;
            }
        }

        h2 {
            font-size: 24px;
            margin: 0;
            font-weight: 500;

            small {
                color: var(--func);
                font-size: 15px;
                font-weight: 300;
            }
        }
    }

    &__right {}

    &__center {
        @media(max-width: $md - 0.02px) {
            width: 100%;
        }
        @media(min-width: $md) {
            margin-right: auto;
        }
    }
}

.color-func {
    color: var(--func);
}

.color-func-light {
    color: var(--func-light);
}

.color-green {
    color: var(--highlight-green);
}

.color-red {
    color: var(--attention);
}

.color-purple {
    color: var(--purple);
}

.color-orange {
    color: #FF611D;
}

.color-blue {
    color: #195DDC;
}

.fw_500 {
    font-weight: 500;
}