.input-group {
    &:not(:last-child) {
        margin-bottom: 12px;
    }

    &__input {
        border-radius: 24px;
        border: 1px solid transparent;
        background-color: #101020;
        box-shadow: none !important;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        height: 48px;
        padding: 0 20px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 100%;

        &::-webkit-input-placeholder {
            color: var(--func);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: var(--func);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--func);
            opacity: 1;
        }

        &:not(:read-only) {
            &:focus {
                border-color: var(--active);
            }
        }

        &:read-only {
            color: #FF1D70;

            &:focus {
                caret-color: transparent;
            }
        }

        &:disabled {
            background-color: var(--func);
        }
    }

    &__textarea {
        @include scrollbar;
        border-radius: 24px;
        border: 1px solid transparent;
        background-color: #101020;
        box-shadow: none !important;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        height: 120px;
        margin: 0;
        padding: 10px 20px;
        transition: background-color 0.3s, border-color 0.3s;
        width: 100%;

        &::-webkit-input-placeholder {
            color: var(--func);
            opacity: 1;
        }

        &::-moz-placeholder {
            color: var(--func);
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: var(--func);
            opacity: 1;
        }

        &:not(:read-only) {
            &:focus {
                border-color: var(--active);
            }
        }

        &:read-only {
            color: var(--func-light);

            &:focus {
                caret-color: transparent;
            }
        }

        &:disabled {
            background-color: var(--func);
        }
    }

    .error-text,
    .success-text {
        margin-top: 6px;
    }
}

.input-label {
    color: var(--func);
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.42857;
    margin-bottom: 6px;
}

.error-text,
.success-text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.38461;
    min-height: 18px;
}

.error-text {
    color: var(--attention);
}

.success-text {
    color: var(--highlight-green);
}

textarea {
    resize: none;
}

input,
textarea {
    &:focus {
        outline: 0;
    }
}