.light-theme {
    .popup {
        background-color: var(--bg);

        &--success {
            background-image: url("../images/icons/success--light.svg");
        }

        &--error {
            background-image: url("../images/icons/error.svg");
        }
    }

    .popup__text-block {
        color: var(--text_color);
    }

    .popup__closer {
        background: var(--bg);
        border: 1px solid var(--func-light);

        svg {
            fill: var(--func-light);
        }
    }
}

.popup {
    @include scrollbar;
    background-color: var(--panel-dark-2);
    border: 1px solid #1F1745;
    border-radius: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    display: none;
    max-width: 628px;
    padding: 24px 16px;
    width: 100%;
    @media(min-width: 640px) {
        padding: 36px;
    }

    &--success {
        background-image: url("../images/icons/success.svg");
        background-position: 100% 0;
        min-height: 740px;
    }

    &--error {
        background-image: url("../images/icons/error.svg");
        background-position: 100% 0;
        min-height: 740px;
    }

    &.fancybox-content {
        max-width: 628px;
        padding: 24px 16px;
        width: 100%;
        @media(min-width: 640px) {
            padding: 36px;
        }
    }

    &--w_478 {
        min-height: 0;
        max-width: 478px;

        &.fancybox-content {
            max-width: 478px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        padding-right: 80px;
        @media(min-width: 640px) {
            font-size: 24px;
        }

        small {
            color: var(--func);
            display: inline-block;
            font-size: 15px;
            font-weight: 300;
        }
    }

    &__closer {
        @include button-reset;
        align-items: center;
        background: linear-gradient(var(--panel-dark-2), var(--panel-dark-2) 0) padding-box, linear-gradient(90deg, #251668, #2A0F46) border-box;
        border: 1px solid transparent;
        border-radius: 24px;
        box-shadow: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        height: 48px;
        justify-content: center;
        left: auto;
        opacity: 1;
        position: absolute;
        right: 16px;
        top: 16px;
        transition: color 0.3s, box-shadow 0.3s;
        width: 70px;
        @include hover {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
            color: var(--active);
        }
        @media(min-width: 640px) {
            right: 36px;
            top: 24px;
        }

        svg {
            fill: currentColor;
            height: 16px;
            width: 16px;
        }
    }

    &__text-block {
        color: var(--func-light);

        h2 {
            font-size: 18px;
            line-height: 1.22222;
            margin-top: 0;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }

        p {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 48px;

        .button {
            width: 100%;
            @media(min-width: 640px) {
                width: calc(100% / 2 - 24px / 2);
            }
        }
    }
}

.fancybox-slide--html {
    padding: 12px;
}