.light-theme {
    .depositos-menu__link {
        & > div:first-child {
            b {
                color: var(--highlight-purple);
            }
        }

        & > div:last-child {
            color: var(--func);

            span {
                color: var(--highlight-purple);
            }
        }

        &.is-active {
            border-color: var(--highlight-purple);
        }
    }

    .depositos-menu__balance {
        color: var(--highlight-purple);

        span {
            color: var(--highlight-purple-light);
        }
    }

    .depositos__table-titles {
        color: var(--highlight-purple);

        th {
            &:first-child {
                color: var(--func);
            }
        }
    }

    .depositos__table--type_1 {
        td {
            color: var(--func);

            &:first-child {
                color: var(--func);
            }

            &:nth-child(2) {
                color: var(--highlight-purple);
            }

            &.color-green {
                color: var(--highlight-green);
            }

            &.color-func {
                color: var(--func-light);
            }
        }
    }

    .depositos__table--type_2 {
        td {
            color: var(--func);

            &:nth-child(2) {
                color: var(--highlight-purple);
            }

            &.color-green {
                color: var(--highlight-green);
            }

            &.color-func {
                color: var(--func-light);
            }
        }
    }
}

.depositos {
    display: flex;
    flex-direction: column;

    &__list {
        @include scrollbar;
        overflow-y: auto;
    }

    &__table {
        border: none;
        border-collapse: collapse;
        font-size: 14px;

        th {
            font-weight: 500;
            padding: 0;
            text-align: left;
        }

        &--type_1 {
            tr {
                @media(max-width: $sm - 0.02px) {
                    display: flex;
                    flex-wrap: wrap;
                }

                &.depositos__table-titles {
                    @media(max-width: $sm - 0.02px) {
                        display: none;
                    }
                }

                &:not(:last-child) {
                    td {
                        &:nth-child(5) {
                            @media(max-width: $sm - 0.02px) {
                                border-bottom: 1px solid var(--func);
                                padding-bottom: 10px;
                            }

                            &:empty {
                                @media(max-width: $sm - 0.02px) {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            th {
                @media(min-width: $sm) {
                    height: 44px;
                    padding-right: 30px;
                }
            }

            td {
                padding: 5px 10px 5px 0;
                @media(min-width: $sm) {
                    height: 44px;
                    padding-right: 30px;
                }

                &:not(:nth-child(5)) {
                    &::before {
                        @media(max-width: $sm - 0.02px) {
                            content: attr(data-title) ': ';
                        }
                    }
                }

                &:nth-child(1) {
                    @media(max-width: $sm - 0.02px) {
                        font-size: 24px;
                        display: block;
                        width: 100%;
                    }
                }

                &:nth-child(2) {
                    white-space: nowrap;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    @media(max-width: $sm - 0.02px) {
                        width: 50%;
                    }
                }

                &:nth-child(4) {
                    @media(max-width: $sm - 0.02px) {
                        display: block;
                        width: 100%;
                    }
                }

                &:nth-child(5) {
                    @media(max-width: $sm - 0.02px) {
                        display: block;
                        width: 100%;
                    }
                }
            }
        }

        &--type_2 {
            tr {
                @media(max-width: $md - 0.02px) {
                    display: flex;
                    flex-wrap: wrap;
                }

                &.depositos__table-titles {
                    @media(max-width: $md - 0.02px) {
                        display: none;
                    }
                }

                td {
                    &:nth-child(6),
                    &:nth-child(7) {
                        @media(max-width: $md - 0.02px) {
                            border-bottom: 1px solid var(--func);
                            padding-bottom: 10px;
                        }

                        &:empty {
                            @media(max-width: $md - 0.02px) {
                                padding-bottom: 0;
                            }
                        }
                    }

                    &:nth-child(7) {
                        .button {
                            @media(max-width: $md - 0.02px) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            th {
                @media(min-width: $md) {
                    height: 44px;
                    padding-right: 30px;
                }
            }

            td {
                padding: 5px 10px 5px 0;
                @media(min-width: $md) {
                    height: 44px;
                    padding-right: 30px;
                }

                &:not(:nth-child(7)) {
                    &::before {
                        @media(max-width: $md - 0.02px) {
                            content: attr(data-title) ': ';
                        }
                    }
                }

                &:nth-child(1) {
                    @media(max-width: $md - 0.02px) {
                        font-size: 24px;
                        display: block;
                        width: 100%;
                    }
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    @media(max-width: $sm - 0.02px) {
                        width: 50%;
                    }
                    @media(min-width: $sm) and (max-width: $md - 0.02px) {
                        width: 33.33333%;
                    }
                }

                &:nth-child(2) {
                    white-space: nowrap;
                }

                &:nth-child(5) {
                    a {
                        white-space: nowrap;
                    }
                    @media(min-width: $sm) and (max-width: $md - 0.02px) {
                        border-bottom: 1px solid var(--func);
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}

.depositos-menu {
    height: auto !important;

    &__balance {
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 24px;
        @media(min-width: $fhd) {
            font-size: 56px;
        }
        @media(min-width: $lg) and (max-height: 740px) {
            font-size: 28px;
        }

        span {
            color: var(--func);
        }
    }

    &__list {
        @include list-reset;
        margin-left: -16px;
        @media(min-width: $fhd) {
            margin-left: -24px;
        }
    }

    &__item {}

    &__link {
        border-left: 2px solid transparent;
        display: block;
        opacity: 0.5;
        padding: 16px;
        text-decoration: none;
        transition: border-color 0.3s, opacity 0.3s;
        @media(min-width: $fhd) {
            padding-left: 24px;
        }
        @include hover {
            opacity: 0.8;
        }

        &.is-active {
            border-left-color: var(--active);
            opacity: 1;
        }

        & > div {
            &:first-child {
                color: var(--text_color);

                span {
                    font-weight: 500;
                }

                b {
                    color: var(--highlight-green);
                    font-weight: 700;
                }
            }

            &:last-child {
                color: var(--func-light);

                span {
                    color: var(--highlight-green);
                }
            }
        }
    }
}