.header {
    background: linear-gradient(90deg, #151438 0%, #19183A 53.5%, #28193B 100%);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    @media(min-width: $md) {
        position: absolute;
    }

    &::after {
        background: linear-gradient(90deg, rgba(26,15,77,1) 0%, rgba(55,21,90,1) 100%);
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: auto;
        width: 100%;
        z-index: 1;
    }

    &__inner {
        align-items: center;
        display: flex;
        gap: 8px;
        min-height: var(--header_min_height);
    }

    &__menu-block {
        align-items: center;
        display: flex;
    }

    &__logo {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        @media(min-width: $md) {
            font-size: 24px;
            line-height: 1;
        }
        @include hover {
            color: #fff;
        }
    }

    &__burger {
        @include button-reset;
        align-items: center;
        display: flex;
        height: 48px;
        justify-content: center;
        width: 48px;
        @include hover {
            svg {
                fill: var(--func-light);
            }
        }
        @media(max-width: $md - 0.02px) {
            margin-left: auto;
        }
        @media(min-width: $md) {
            display: none;
        }

        svg {
            fill: var(--func);
            height: 14px;
            transition: fill 0.3s;
            width: 14px;
            @media(min-width: $md) {
                height: 24px;
                width: 24px;
            }
        }
    }

    &__menu {
        margin-left: auto;
        position: relative;
        z-index: 2;
        @media(max-width: $md - 0.02px) {
            background-color: var(--panel-dark-2);
            display: none;
            height: calc(100dvh - var(--header_min_height));
            left: 0;
            overflow-y: auto;
            position: fixed;
            right: 0;
            top: var(--header_min_height);
            z-index: 1;
        }

        &.is-open {
            display: block;
        }
    }

    &__menu-list {
        @include list-reset;
        @media(min-width: $md) {
            display: flex;
        }
    }

    &__menu-item {
        &--separator {
            border-bottom: 1px solid #1B1737;
            padding-top: 16px;
            margin-bottom: 16px;
            @media(min-width: $md) {
                display: none;
            }

            & ~ .header__menu-item {
                .header__menu-link {
                    span {
                        @media(max-width: $md - 0.02px) {
                            color: var(--func-light);
                        }
                    }
                }
            }
        }
    }

    &__menu-link {
        align-items: center;
        border-left: 2px solid transparent;
        display: flex;
        color: var(--func);
        font-size: 15px;
        font-weight: 300;
        gap: 12px;
        min-height: 48px;
        padding: 16px 24px;
        @media(min-width: $md) {
            border-bottom: 1px solid transparent;
            border-left: none;
            min-height: var(--header_min_height);
            padding-left: 16px;
        }
        @include hover {
            color: #fff;
        }

        &.is-active {
            border-color: var(--active-2);
            color: #fff;
        }

        svg {
            fill: currentColor;
            height: 20px;
            min-width: 20px;
            width: 20px;

            & + span {
                @media(min-width: $md) {
                    display: none;
                }
            }
        }
    }
}