.light-theme {
    .move__list {
        color: var(--func);

        table {
            th {
                background-color: var(--bg);
            }
        }
    }
}

.move {
    &__title-block {
        align-items: center;
        display: flex;
        gap: 16px;
        justify-content: space-between;
        margin-bottom: 24px;

        h2 {
            margin: 0;
        }
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        @media(min-width: $fhd) {
            font-size: 24px;
            line-height: 1;
        }

        small {
            color: var(--func);
            font-size: 13px;
            font-weight: 300;
            line-height: 1.53846;
            @media(min-width: $fhd) {
                font-size: 15px;
                line-height: 1.2;
            }
        }
    }

    & > h2 {
        margin-top: 0;
        margin-bottom: 16px;
    }

    .dates-period {
        flex-wrap: nowrap;
        margin-bottom: 12px;
    }

    .select-wrapper {
        margin-bottom: 12px;
    }

    &__list {
        @include list-reset;
        @include scrollbar;
        color: var(--func-light);
        font-size: 14px;
        overflow-y: auto;
        @media(max-width: $lg - 0.02px) {
            height: 400px;
        }

        table {
            border: none;
            width: 100%;

            tr {
                @media(max-width: $sm - 0.02px) {
                    display: flex;
                    flex-wrap: wrap;
                }

                &:first-child {
                    @media(max-width: $sm - 0.02px) {
                        display: none;
                    }
                    @media(min-width: $sm) {
                        position: sticky;
                        top: -2px;
                        z-index: 1;
                    }
                }
            }

            th {
                background-color: var(--panel-dark-2);
                height: 30px;
                padding: 0;
                text-align: left;

                &:not(:last-child) {
                    padding-right: 8px;
                }
            }

            td {
                padding: 0 0 5px;
                @media(min-width: $sm) {
                    height: 36px;
                }

                &::before {
                    @media(max-width: $sm - 0.02px) {
                        content: attr(data-title) ': ';
                    }
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    &::before {
                        @media(max-width: $sm - 0.02px) {
                            display: block;
                        }
                    }
                }

                &:nth-child(1),
                &:nth-child(2) {
                    @media(max-width: $sm - 0.02px) {
                        padding-top: 5px;
                        width: 50%;
                    }
                }

                &:nth-child(3) {
                    @media(max-width: $sm - 0.02px) {
                        width: 100%;
                    }
                }

                &:first-child {
                    white-space: nowrap;
                }

                &:nth-child(4),
                &:nth-child(5) {
                    @media(max-width: $sm - 0.02px) {
                        border-bottom: 1px solid var(--func);
                        padding-bottom: 5px;
                        width: 50%;
                    }
                    @media(min-width: $sm) {
                        text-align: center;
                    }
                }

                &:not(:last-child) {
                    padding-right: 8px;
                }
            }
        }
    }
}