.start {
    margin: auto;
    text-align: center;

    h1 {
        text-shadow: 0 0 64px #1D4BFF;
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 32px;
    }
}

.light-theme {
    .start {
        h1 {
            color: var(--func-dark);
            font-weight: 200;
            text-shadow: none;
        }
    }
}