<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__address">
            г. Санкт-Петербург, ул. Дедлайновая 7<br>
            ИНН 5582247836, ОГРН 2257756993449<br>
            2023, ООО «ВанШоп»
        </div>

        <div class="footer__contacts">
            Техподдержка:<br>
            <a href="mailto:texpomosh@one-shopw.com">texpomosh@one-shopw.com</a>
        </div>

        <div class="footer__links">
            <a href="#">Политика обработки персональных данных</a><br>
            <a href="#">Пользовательское соглашение</a>
        </div>
    </div>
</footer>