<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="#">
            Кластер 2.0
        </a>

        <button class="header__burger" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#burger_icon" />
            </svg>
        </button>

        <div class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Начало</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link is-active" href="#">Кластер</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Баланс</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Калькулятор</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Помощь</a>
                </li>
            </ul>
        </div>
    </div>
</header>