<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="#">
            Кластер 2.0
        </a>

        <button class="js-menu-toggler header__burger" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#burger_icon" />
            </svg>
        </button>

        <div class="header__menu">
            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Начало</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link is-active" href="#">Кластер</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Баланс</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Калькулятор</a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#">Помощь</a>
                </li>
                <li class="header__menu-item header__menu-item--separator"></li>
                <li class="header__menu-item">
                    <a class="js-theme-toggler header__menu-link" href="javascript:void(0)" title="Тёмная тема">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#moon_icon" />
                        </svg>
                        <span class="header__menu-link-text">Тёмная тема</span>
                    </a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#" title="Уведомления">
                        <span class="header__menu-link-inner">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#bell_icon" />
                            </svg>
                            <span>10</span>
                        </span>
                        <span class="header__menu-link-text">Уведомления</span>
                    </a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#" title="Администрирование">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#wrench_icon" />
                        </svg>
                        <span class="header__menu-link-text">Администрирование</span>
                    </a>
                </li>
                <li class="header__menu-item">
                    <a class="header__menu-link" href="#" title="Выход">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#exit_icon" />
                        </svg>
                        <span class="header__menu-link-text">Выход</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>