.select-wrapper {
  position: relative;
  text-align: left;
  z-index: 0;
}

.select-wrapper .error-text,
.select-wrapper .success-text {
  margin-top: 6px;
}

.select-wrapper.open {
  z-index: 2;
}

.select-wrapper.open select[data-search-input-placeholder]+.select2-container--open .select2-selection__placeholder,
.select-wrapper.open select[data-search-input-placeholder]+.select2-container--open .select2-selection__rendered {
  display: none
}

.select2-container {
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 15px;
  line-height: 1.25;
  margin: 0;
  position: relative;
  width: 100% !important;
}

.select2-container .selection {
  display: block;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 48px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  align-items: center;
  display: flex;
  min-height: 46px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 52px;
}

.select2-container .select2-selection--single .select2-selection__rendered>span {
  align-items: center;
  display: flex;
  gap: 10px;
}

.select2-container .select2-selection--single .select2-selection__rendered>span svg {
  fill: var(--blue_1);
  height: 16px;
  min-width: 16px;
  width: 16px;
}

.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 1em;
}

.select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  margin-left: 5px;
  padding: 0;
  max-width: 100%;
  resize: none;
  height: 18px;
  vertical-align: bottom;
  font-family: sans-serif;
  overflow: hidden;
  word-break: keep-all;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search__field::-webkit-input-placeholder {
  color: var(--func);
  opacity: 1;
}

.select2-search__field::-moz-placeholder {
  color: var(--func);
  opacity: 1;
}

.select2-search__field:-ms-input-placeholder {
  color: var(--func);
  opacity: 1;
}

.select2-dropdown {
  background-color: #101020;
  border-radius: 24px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  border-radius: 0 0 24px 24px;
  display: block;
  overflow: hidden;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 11px 20px;
  user-select: none;
}

.select2-results__option:not(:last-child) {
  border-bottom: 1px solid var(--bg)
}

.select2-results__option--selectable {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  left: 0;
  position: absolute;
  top: -56px;
  width: 100%;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #101020;
  border: 1px solid #101020;
  border-radius: 24px;
  transition: border-color 0.3s;
}

.select2-container--default .select2-selection--single:hover {}

.select2-container--default .select2-selection--single .select2-selection__rendered {}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
  padding-right: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 20px;
  z-index: 1052
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.71875 5.875L1.09375 1.28125C0.9375 1.15625 0.9375 0.90625 1.09375 0.75L1.71875 0.15625C1.875 0 2.09375 0 2.25 0.15625L6 3.84375L9.71875 0.15625C9.875 0 10.125 0 10.25 0.15625L10.875 0.75C11.0312 0.90625 11.0312 1.15625 10.875 1.28125L6.25 5.875C6.09375 6.03125 5.875 6.03125 5.71875 5.875Z' fill='white'/%3E%3C/svg%3E%0A");
  display: block;
  height: 20px;
  width: 20px;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: var(--func);
  border-color: var(--func);
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__arrow b {}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg);
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default.select2-container--open .select2-selection--single {}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: none;
  background-color: transparent;
  padding: 18px 16px;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 172px;
  overflow-y: auto;
  scrollbar-color: var(--blue_5) transparent;
  scrollbar-width: thin;
}

.select2-container--default .select2-results__option--disabled {
  color: var(--func);
}

.select2-results__option[aria-disabled="true"] {
  background-color: var(--func)
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--active);
}

.select2-container--default .select2-results__option--highlighted {
  background-color: var(--active-2);
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select-wrapper--type_2 .select2-container {
  color: var(--func)
}

.select-wrapper--type_2 .select2-container .select2-selection--single {
  min-height: 32px;
}

.select-wrapper--type_2 .select2-container .select2-selection--single .select2-selection__rendered {
  min-height: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 20px;
  padding-left: 0;
}

.select-wrapper--type_2 .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 0
}

.select-wrapper--type_2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.71875 5.875L1.09375 1.28125C0.9375 1.15625 0.9375 0.90625 1.09375 0.75L1.71875 0.15625C1.875 0 2.09375 0 2.25 0.15625L6 3.84375L9.71875 0.15625C9.875 0 10.125 0 10.25 0.15625L10.875 0.75C11.0312 0.90625 11.0312 1.15625 10.875 1.28125L6.25 5.875C6.09375 6.03125 5.875 6.03125 5.71875 5.875Z' fill='%23666587'/%3E%3C/svg%3E%0A");
}

.select-wrapper--type_2 .select2-search--dropdown {
  top: -40px;
}

.select-wrapper--type_2 .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none
}

.select-wrapper--type_2 .select2-dropdown {
  border: none;
  border-radius: 8px;
}

.select-wrapper--type_2 .select2-results {
  border-radius: 8px;
}

.select-wrapper--type_2 .select2-results__option {
  color: #fff;
  padding: 8px
}

.select-wrapper--type_2 .select2-results__option:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.select-wrapper--type_2 .select2-results__option:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.select-wrapper--type_3 .select2-container--default .select2-selection--single {
  background-color: transparent;
  border-color: transparent;
}

.select-wrapper--type_3 .select2-results {
  border-radius: 12px;
}

.select-wrapper--type_3 .select2-container--open .select2-dropdown--below {
  border-radius: 12px;
}