<div class="depositos box box--type_2">
    <div class="box__title-block">
        <div class="box__title-block-left">
            <h2>Депозиты <small class="color-func">Этап III, Кластер №1</small></h2>
        </div>

        <button class="button button--primary button--h_32" type="button">Создать депозит</button>
    </div>

    <div class="depositos__list">
        <h3>Сектор I</h3>

        <table class="depositos__table depositos__table--type_2">
            <tr class="depositos__table-titles">
                <th class="color-func-light">Номер</th>
                <th>Сумма</th>
                <th>Дата окончания</th>
                <th>Секция</th>
                <th>Пополнения</th>
                <th>Статус</th>
                <th></th>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func-light" data-title="Секция">секция 2</td>
                <td class="color-func-light" data-title="Пополнения"><a href="javascript:void(0)" data-fancybox="poplnenia_1" data-src="#popolnenia">1 пополнение</a></td>
                <td class="color-green" data-title="Статус">Завершен</td>
                <td><button class="button button--primary button--h_32" type="button">Закрыть депозит</button></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func-light" data-title="Секция">секция 2</td>
                <td class="color-func-light" data-title="Пополнения"><a href="javascript:void(0)" data-fancybox="poplnenia_2" data-src="#popolnenia">1 пополнение</a></td>
                <td class="color-func-light" data-title="Статус">В работе</td>
                <td><button class="button button--secondary button--h_32" type="button">Пополнить</button></td>
            </tr>
        </table>

        <h3>Сектор II</h3>

        <table class="depositos__table depositos__table--type_2">
            <tr class="depositos__table-titles">
                <th class="color-func-light">Номер</th>
                <th>Сумма</th>
                <th>Дата окончания</th>
                <th>Секция</th>
                <th>Пополнения</th>
                <th>Статус</th>
                <th></th>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func-light" data-title="Секция">секция 2</td>
                <td class="color-func-light" data-title="Пополнения"><a href="javascript:void(0)" data-fancybox="poplnenia_3" data-src="#popolnenia">1 пополнение</a></td>
                <td class="color-green" data-title="Статус">Завершен</td>
                <td><button class="button button--primary button--h_32" type="button">Закрыть депозит</button></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func-light" data-title="Секция">секция 2</td>
                <td class="color-func-light" data-title="Пополнения"><a href="javascript:void(0)" data-fancybox="poplnenia_4" data-src="#popolnenia">1 пополнение</a></td>
                <td class="color-func-light" data-title="Статус">В работе</td>
                <td><button class="button button--secondary button--h_32" type="button">Пополнить</button></td>
            </tr>
        </table>

        <h3>Сектор III</h3>

        <table class="depositos__table depositos__table--type_2">
            <tr class="depositos__table-titles">
                <th class="color-func-light">Номер</th>
                <th>Сумма</th>
                <th>Дата окончания</th>
                <th>Секция</th>
                <th>Пополнения</th>
                <th>Статус</th>
                <th></th>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func-light" data-title="Секция">секция 2</td>
                <td class="color-func-light" data-title="Пополнения"><a href="javascript:void(0)" data-fancybox="poplnenia_5" data-src="#popolnenia">1 пополнение</a></td>
                <td class="color-green" data-title="Статус">Завершен</td>
                <td><button class="button button--primary button--h_32" type="button">Закрыть депозит</button></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func-light" data-title="Секция">секция 2</td>
                <td class="color-func-light" data-title="Пополнения"><a href="javascript:void(0)" data-fancybox="poplnenia_6" data-src="#popolnenia">1 пополнение</a></td>
                <td class="color-func-light" data-title="Статус">В работе</td>
                <td><button class="button button--secondary button--h_32" type="button">Пополнить</button></td>
            </tr>
        </table>
    </div>
</div>