<div class="depositos-menu box box--type_1">
    <div class="box__title-block">
        <h2>Депозиты <small class="color-func">Финансы в кластере</small></h2>
    </div>

    <p class="depositos-menu__balance">1 034 150 <span>₽</span></p>

    <ul class="depositos-menu__list">
        <li class="depositos-menu__item">
            <a class="depositos-menu__link is-active" href="#">
                <div><span>Этап I</span> <b>104 000 ₽</b></div>
                <div><span>10</span> депозитов, из них <span>3</span> завершено</div>
            </a>
        </li>

        <li class="depositos-menu__item">
            <a class="depositos-menu__link" href="#">
                <div><span>Этап II</span> <b>48 000 ₽</b></div>
                <div><span>6</span> депозитов, из них <span>1</span> завершен</div>
            </a>
        </li>

        <li class="depositos-menu__item">
            <a class="depositos-menu__link" href="#">
                <div><span>Этап III</span> <b>1 278 000 ₽</b></div>
                <div><span>15</span> депозитов, из них <span>0</span> завершено</div>
            </a>
        </li>
    </ul>
</div>