<div class="depositos box box--type_2">
    <div class="box__title-block">
        <div class="box__title-block-left">
            <h2>Депозиты <small class="color-func">Этап I</small></h2>
        </div>
    </div>

    <div class="depositos__list">
        <table class="depositos__table depositos__table--type_1">
            <tr class="depositos__table-titles">
                <th class="color-func-light">Номер</th>
                <th>Сумма</th>
                <th>Дата окончания</th>
                <th>Статус</th>
                <th></th>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-green" data-title="Статус">Завершен</td>
                <td><button class="button button--primary button--h_32" type="button">Закрыть депозит</button></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-green" data-title="Статус">Завершен</td>
                <td><button class="button button--primary button--h_32" type="button">Закрыть депозит</button></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-green" data-title="Статус">Завершен</td>
                <td><button class="button button--primary button--h_32" type="button">Закрыть депозит</button></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-green" data-title="Статус">Завершен</td>
                <td><button class="button button--primary button--h_32" type="button">Закрыть депозит</button></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func" data-title="Статус">Активен</td>
                <td></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func" data-title="Статус">Активен</td>
                <td></td>
            </tr>
            <tr>
                <td class="color-func-light fw_500" data-title="ID">#567339</td>
                <td class="fw_500" data-title="Сумма">1 000 000 ₽</td>
                <td class="color-func-light" data-title="Дата">10.01.2025</td>
                <td class="color-func" data-title="Статус">Активен</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>