<div style="margin-bottom: 60px;">
    <h2>Кнопки</h2>

    <button class="button button--primary button--s" type="button">ОСНОВНАЯ КНОПКА</button>

    <button class="button button--white button--s" type="button">БЕЛАЯ КНОПКА</button>

    <button class="button button--primary button--s" type="button" disabled>ОСНОВНАЯ КНОПКА</button>

    <br><br>

    <button class="button button--primary button--m" type="button">ОСНОВНАЯ КНОПКА</button>

    <button class="button button--white button--m" type="button">БЕЛАЯ КНОПКА</button>

    <button class="button button--primary button--m" type="button" disabled>ОСНОВНАЯ КНОПКА</button>

    <br><br>

    <h2>Кнопки - ссылки</h2>

    <a class="button button--primary button--s" href="#">ОСНОВНАЯ КНОПКА</a>

    <a class="button button--white button--s" href="#">БЕЛАЯ КНОПКА</a>

    <a class="button button--primary button--s disabled">ОСНОВНАЯ КНОПКА</a>

    <br><br>

    <a class="button button--primary button--m" href="#">ОСНОВНАЯ КНОПКА</a>

    <a class="button button--white button--m" href="#">БЕЛАЯ КНОПКА</a>

    <a class="button button--primary button--m disabled">ОСНОВНАЯ КНОПКА</a>
</div>