<div style="margin-bottom: 60px;">
    <h2>Кнопки</h2>

    <button class="button button--primary" type="button">Основная кнопка</button>

    <button class="button button--secondary" type="button">Второстепенная кнопка</button>

    <button class="button button--primary" type="button" disabled>Кнопка выключена</button>

    <br><br>

    <h2>Кнопки - ссылки</h2>

    <a class="button button--primary" href="#">Основная кнопка</a>

    <a class="button button--secondary" href="#">Второстепенная кнопка</a>

    <a class="button button--primary disabled">Кнопка выключена</a>
</div>