<div style="margin-bottom: 60px;">
    <h2>Чекбоксы</h2>

    <label class="checkbox">
        <input type="checkbox" name="cb_1">
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">ВЫБРАТЬ МАТЕРИАЛ <span class="qnt">3</span></span>
    </label>

    <label class="checkbox">
        <input type="checkbox" name="cb_2" checked>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">ВЫБРАТЬ МАТЕРИАЛ <span class="qnt">3</span></span>
    </label>

    <label class="checkbox">
        <input type="checkbox" name="cb_3" disabled>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">ВЫБРАТЬ МАТЕРИАЛ <span class="qnt">3</span></span>
    </label>

    <label class="checkbox">
        <input type="checkbox" name="cb_4" disabled checked>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">ВЫБРАТЬ МАТЕРИАЛ <span class="qnt">3</span></span>
    </label>

    <label class="checkbox checkbox--color">
        <input type="checkbox" name="cb_5">
        <span class="checkbox__icon"></span>
        <span class="checkbox__text"><span class="color"><span class="color__icon" style="background-color: #00487D"></span>Синий</span> <span class="qnt">3</span></span>
    </label>

    <label class="checkbox checkbox--color">
        <input type="checkbox" name="cb_6" checked>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text"><span class="color"><span class="color__icon" style="background-color: #00487D"></span>Синий</span> <span class="qnt">3</span></span>
    </label>

    <label class="checkbox checkbox--color">
        <input type="checkbox" name="cb_7" disabled>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text"><span class="color"><span class="color__icon" style="background-color: #00487D"></span>Синий</span> <span class="qnt">3</span></span>
    </label>

    <label class="checkbox checkbox--color">
        <input type="checkbox" name="cb_8" checked disabled>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text"><span class="color"><span class="color__icon" style="background-color: #00487D"></span>Синий</span> <span class="qnt">3</span></span>
    </label>
</div>