<div style="margin-bottom: 60px;">
    <h2>Чекбоксы</h2>

    <label class="checkbox">
        <input type="checkbox" name="cb_1">
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">Я ознакомлен со всеми <a href="#">соглашениями</a></span>
    </label>

    <br>

    <label class="checkbox">
        <input type="checkbox" name="cb_2" checked>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">Я ознакомлен со всеми <a href="#">соглашениями</a></span>
    </label>

    <br>

    <label class="checkbox">
        <input type="checkbox" name="cb_3" disabled>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">Я ознакомлен со всеми <a href="#">соглашениями</a></span>
    </label>

    <br>

    <label class="checkbox">
        <input type="checkbox" name="cb_4" disabled checked>
        <span class="checkbox__icon"></span>
        <span class="checkbox__text">Я ознакомлен со всеми <a href="#">соглашениями</a></span>
    </label>
</div>