<div style="margin-bottom: 60px;">
    <h2>Поля ввода</h2>

    <div class="input-group">
        <input id="inp_1" class="input-group__input" type="text" name="" value="">
        <label class="input-group__label" for="inp_1">Ваше имя</label>
    </div>

    <div class="input-group">
        <input id="inp_2" class="input-group__input is-filled" type="text" name="" value="Кригер Игорь">
        <label class="input-group__label" for="inp_2">Ваше имя</label>
    </div>

    <div class="input-group">
        <input id="inp_3" class="input-group__input is-filled invalid" type="text" name="" value="Кригер Игорь">
        <label class="input-group__label" for="inp_3">Ваше имя</label>
    </div>

    <div class="input-group">
        <input id="inp_4" class="input-group__input invalid" type="text" name="" value="">
        <label class="input-group__label" for="inp_4">Введите ваше имя</label>
    </div>
</div>