<div style="margin-bottom: 60px;">
    <h2>Поля ввода</h2>

    <div class="input-group">
        <label class="input-label" for="inp_1">Сумма пополнения</label>
        <input id="inp_1" class="input-group__input" type="text" name="" value="" placeholder="Минимум: 50 000₽">
        <div class="error-text">Фактическая сумма вывода составит 47 500 рублей</div>
    </div>

    <div class="input-group">
        <label class="input-label" for="inp_2">Ваше имя</label>
        <input id="inp_2" class="input-group__input" type="text" name="" value="Кригер Игорь">
    </div>

    <div class="input-group">
        <label class="input-label" for="inp_4">Введите ваше имя</label>
        <input id="inp_4" class="input-group__input" type="text" name="" value="Кригер Игорь" disabled>
    </div>

    <div class="input-group">
        <label class="input-label" for="inp_5">Комментарий</label>
        <textarea id="inp_5" class="input-group__textarea" name="" placeholder="Введите ваш комментарий"></textarea>
    </div>
</div>