<div style="margin-bottom: 60px;">
    <h2>Попапы</h2>

    <button class="button button--primary" type="button" data-fancybox="section_popup" data-src="#section_popup">Депозиты секции</button>

    <button class="button button--primary" type="button" data-fancybox="dep_add_popup" data-src="#dep_add_popup">Пополнение депозита</button>

    <button class="button button--primary" type="button" data-fancybox="dep_add_check_popup" data-src="#dep_add_check_popup">Пополнение депозита проверка данных</button>

    <button class="button button--primary" type="button" data-fancybox="success_popup" data-src="#success_popup">Успешно</button>

    <button class="button button--primary" type="button" data-fancybox="error_popup" data-src="#error_popup">Ошибка</button>

    <button class="button button--primary" type="button" data-fancybox="approve_popup" data-src="#approve_popup">Подтверждение выдачи прав</button>

    <button class="button button--primary" type="button" data-fancybox="deactivate_popup" data-src="#deactivate_popup">деактивация сектора</button>

    <button class="button button--primary" type="button" data-fancybox="activate_popup" data-src="#activate_popup">активация секции</button>

    <button class="button button--primary" type="button" data-fancybox="activate_approve_popup" data-src="#activate_approve_popup">Подтверждение активации</button>
</div>