<div style="margin-bottom: 60px;">
    <h2>Радио-кнопки</h2>

    <label class="radio">
        <input type="radio" name="r" value="1">
        <span class="radio__icon"></span>
        <span class="radio__text">По умолчанию</span>
    </label>

    <label class="radio">
        <input type="radio" name="r" value="2" checked>
        <span class="radio__icon"></span>
        <span class="radio__text">По популярности</span>
    </label>

    <label class="radio">
        <input type="radio" name="r" value="3" disabled>
        <span class="radio__icon"></span>
        <span class="radio__text">По возрастанию цены</span>
    </label>

    <label class="radio">
        <input type="radio" name="r" value="5">
        <span class="radio__icon"></span>
        <span class="radio__text">По новизне</span>
    </label>
</div>