<div style="margin-bottom: 60px;">
    <h2>Селект</h2>

    <div class="select-wrapper">
        <label class="input-label" for="sel">Сектор</label>
        <select id="sel" class="js-select">
            <option value="1">I</option>
            <option value="2">II</option>
            <option value="3" disabled>III</option>
            <option value="4">IV</option>
            <option value="5">V</option>
            <option value="6">VI</option>
            <option value="7">VII</option>
            <option value="8">VIII</option>
        </select>
        <div class="success-text">Сектор доступен</div>
    </div>

    <br>

    <div class="select-wrapper">
        <label class="input-label" for="sel_2">Сектор</label>
        <select id="sel_2" class="js-select" disabled>
            <option value="1">I</option>
            <option value="2">II</option>
            <option value="3">III</option>
            <option value="4">IV</option>
            <option value="5">V</option>
            <option value="6">VI</option>
            <option value="7">VII</option>
            <option value="8">VIII</option>
        </select>
        <div class="error-text">Сектор не доступен</div>
    </div>
</div>