<div class="adm-menu box box--type_1">
    <div class="box__title-block">
        <h2>Администрирование</h2>
    </div>

    <ul class="adm-menu__list">
        <li class="adm-menu__item">
            <a class="adm-menu__link is-active" href="#">Заявки на вступление</a>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Права на второй депозит</a>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Управление секциями</a>
        </li>
    </ul>
</div>