<div class="adm-menu box box--type_1">
    <div class="box__title-block">
        <h2>Доступные кластеры</h2>
    </div>

    <ul class="adm-menu__list">
        <li class="adm-menu__item">
            <a class="adm-menu__link is-active" href="#">Кластер №1</a>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Кластер №2</a>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Кластер №3</a>
        </li>
    </ul>
</div>