<div class="adm-menu box box--type_1">
    <div class="box__title-block">
        <h2>Администрирование</h2>
    </div>

    <ul class="adm-menu__list">
        <li class="adm-menu__item">
            <a class="adm-menu__link is-active" href="#">Кластер №1</a>
            <svg class="warning-icon" aria-hidden="true">
                <use xlink:href="images/sprite.svg#warning_icon" />
            </svg>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Кластер №2</a>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Кластер №3</a>
            <svg class="warning-icon" aria-hidden="true">
                <use xlink:href="images/sprite.svg#warning_icon" />
            </svg>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Кластер №4</a>
        </li>

        <li class="adm-menu__item">
            <a class="adm-menu__link" href="#">Кластер №5</a>
        </li>
    </ul>
</div>