<div class="requests box box--type_2">
    <div class="box__title-block">
        <div class="box__title-block-left">
            <h2>Заявки на вступление в частный кластер <small class="color-func">Кластер №1</small></h2>
        </div>

        <div class="box__title-block-right">
            <div class="requests__search input-group">
                <input class="input-group__input" type="text" name="" value="" placeholder="поиск...">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#search_icon" />
                </svg>
            </div>
        </div>
    </div>

    <div class="requests__list">
        <table class="requests__table">
            <tr>
                <td data-title="ID"><a href="#">#5884900</a></td>
                <td data-title="ФИО">Александр Викторович Хедкрашер</td>
                <td class="color-func-light" data-title="Дата">от 10.01.2025</td>
                <td><button class="button button--primary button--h_32" type="button">Одобрить</button> <button class="button button--secondary button--h_32" type="button">Отклонить</button></td>
            </tr>
            <tr>
                <td data-title="ID"><a href="#">#5884900</a></td>
                <td data-title="ФИО">Александр Викторович Хедкрашер</td>
                <td class="color-func-light" data-title="Дата">от 10.01.2025</td>
                <td><button class="button button--primary button--h_32" type="button">Одобрить</button> <button class="button button--secondary button--h_32" type="button">Отклонить</button></td>
            </tr>
            <tr>
                <td data-title="ID"><a href="#">#5884900</a></td>
                <td data-title="ФИО">Александр Викторович Хедкрашер</td>
                <td class="color-func-light" data-title="Дата">от 10.01.2025</td>
                <td><button class="button button--primary button--h_32" type="button">Одобрить</button> <button class="button button--secondary button--h_32" type="button">Отклонить</button></td>
            </tr>
            <tr>
                <td data-title="ID"><a href="#">#5884900</a></td>
                <td data-title="ФИО">Александр Викторович Хедкрашер</td>
                <td class="color-func-light" data-title="Дата">от 10.01.2025</td>
                <td><button class="button button--primary button--h_32" type="button">Одобрить</button> <button class="button button--secondary button--h_32" type="button">Отклонить</button></td>
            </tr>
            <tr>
                <td data-title="ID"><a href="#">#5884900</a></td>
                <td data-title="ФИО">Александр Викторович Хедкрашер</td>
                <td class="color-func-light" data-title="Дата">от 10.01.2025</td>
                <td><button class="button button--primary button--h_32" type="button">Одобрить</button> <button class="button button--secondary button--h_32" type="button">Отклонить</button></td>
            </tr>
        </table>
    </div>
</div>