<div class="logs box box--type_2">
    <div class="box__title-block">
        <div class="box__title-block-left">
            <h2>История событий</h2>
        </div>
    </div>

    <div class="logs__list">
        <table class="logs__table">
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
            <tr>
                <td class="color-func-light" data-title="Дата">10.01.2025 22:00:06</td>
                <td data-title="Событие">Вход в аккаунт</td>
            </tr>
        </table>
    </div>

    <button class="logs__show-more button button--primary" type="button">Показать ещё</button>
</div>