<div class="cluster-info cluster-info--type_1 box box--type_2">
    <div class="box__title-block">
        <h2>Информация</h2>
    </div>

    <div class="cluster-info__admin cluster-info__admin--type_1">
        <div class="cluster-info__admin-info">
            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#user_icon" />
                </svg>
                <span>Валентина Стрельникова</span>
            </p>

            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#phone_icon" />
                </svg>
                <span>+7 (965) 556-67-78</span>
            </p>

            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#email_icon" />
                </svg>
                <span>vsstrelnikova@othermail.com</span>
            </p>

            <p class="cluster-info__admin-prop">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#city_icon" />
                </svg>
                <span>Москва</span>
            </p>
        </div>
    </div>

    <button class="button button--primary shadow" type="button">Выйти из аккаунта</button>
</div>