<div class="cluster-account">
    <h2>Кластерный счет <small>Баланс</small></h2>

    <p class="cluster-account__balance">1 034 150 <span>₽</span></p>

    <p class="cluster-account__dynamic cluster-account__dynamic--increase">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#arrow_up_icon" />
        </svg>
        1,35% динамика начислений за сутки
    </p>

    <div class="cluster-account__buttons">
        <button class="button button--primary shadow" type="button">Вывести</button>
    </div>
</div>