<div class="cluster-account">
    <h2>Депозиты <small>Финансы в кластере</small></h2>

    <p class="cluster-account__balance">1 634 000 <span>₽</span></p>

    <p class="cluster-account__dynamic cluster-account__dynamic--increase">28 депозитов работают на Вас прямо сейчас</p>

    <div class="cluster-account__tabs-nav tabs-nav">
        <button class="js-cluster-account-tab-toggler tabs-nav__button is-active" type="button" data-target="3">Этап III</button>
        <button class="js-cluster-account-tab-toggler tabs-nav__button" type="button" data-target="2">Этап II</button>
        <button class="js-cluster-account-tab-toggler tabs-nav__button" type="button" data-target="1">Этап I</button>
    </div>

    <div class="cluster-account__tab" data-target="1">
        <p class="cluster-account__step-title">Этап I</p>
        <p class="cluster-account__step-info"><b>104 000 ₽</b> <small>на <span>10</span> депозитах</small></p>
    </div>

    <div class="cluster-account__tab" data-target="2">
        <p class="cluster-account__step-title">Этап II</p>
        <p class="cluster-account__step-info"><b>48 000 ₽</b> <small>на <span>6</span> депозитах</small></p>
    </div>

    <div class="cluster-account__tab is-active" data-target="3">
        <p class="cluster-account__step-title">Этап III</p>
        <p class="cluster-account__step-info"><b>1 278 000 ₽</b> <small>на <span>15</span> депозитах</small></p>
    </div>

    <div class="cluster-account__buttons">
        <button class="button button--primary shadow" type="button">Открыть новый</button>
        <button class="button button--secondary shadow" type="button">Управлять</button>
    </div>
</div>