<div class="cluster-balance box box--type_2">
    <div class="cluster-balance__title-block">
        <h2>Кластер <small>Баланс</small></h2>

        <div class="tabs-nav">
            <button class="tabs-nav__button is-active" type="button">Этап I</button>
            <button class="tabs-nav__button" type="button">Этап II</button>
        </div>
    </div>

    <p class="cluster-balance__summ">452 000 ₽</p>

    <h2>Активные депозиты <small>Этап II</small></h2>

    <div class="cluster-balance__deps-list">
        <table>
            <tr>
                <td>12 000 ₽</td>
                <td><a href="#">Кластер №1</a></td>
                <td>Секция X/2</td>
            </tr>
            <tr>
                <td>445 000 ₽</td>
                <td><a href="#">Кластер №1</a></td>
                <td>Секция I/10</td>
            </tr>
            <tr>
                <td>24 000 ₽</td>
                <td><a href="#">Кластер №1</a></td>
                <td>Секция I/9</td>
            </tr>
            <tr>
                <td>5 000 ₽</td>
                <td><a href="#">Кластер №1</a></td>
                <td>Секция II/6</td>
            </tr>
            <tr>
                <td>5 000 ₽</td>
                <td><a href="#">Кластер №1</a></td>
                <td>Секция II/6</td>
            </tr>
            <tr>
                <td>12 000 ₽</td>
                <td><a href="#">Кластер №1</a></td>
                <td>Секция X/2</td>
            </tr>
            <tr>
                <td>12 000 ₽</td>
                <td><a href="#">Кластер №1</a></td>
                <td>Секция X/2</td>
            </tr>
        </table>
    </div>
</div>